{
	"bDebugSprite": true,
	"bMultipleInstances": false,
	"bWarningMultipleInstances": false,
	"sRendererDevice": "OpenGL ES1/ES2",
	"sWorkingDirectory": "./",
	"sTitle": "My Game Sample",
	"sDescription": "A Very Simple Game Sample",
	"sPublisherName": "Seed Framework",
	"iResolutionWidth": 800,
	"iResolutionHeight": 600,
	"iFrameRate": 60,
	"bFullScreen": false
}
